body {
	font-family: "ff-tisa-web-pro-1", "ff-tisa-web-pro-2", "Lucida Grande", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei UI", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
	background-image: url('../img/gray.png');
	background-repeat: repeat;
}

.alert-browse {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	border-width: 0 0 1px;
	z-index: 1031;
	right: 0;
}

.container {
	top: 50px;
	position: relative;
}

.container .breadcrumb {
	margin-bottom: 0px;
}

.navbar-fixed-center {
	margin: 0 auto;
	box-shadow: 1px 1px 1px #ccc;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}

.footer-fixed-center {
	margin: 0 auto;
	top: 50px;
	position: relative;
	margin-top: 10px;
	margin-bottom: 20px;
	color: #ccc;
	text-align: center;
	text-shadow: 1px 1px 0px #fff;
}

.main-container .items .item {
	background-color: white;
	padding: 0;
	margin-bottom: 5px;
}

.main-container .items .item .item-heading {
	background-color: #f5f5f5;
	padding: 10px 10px 1px 10px;
	border-width: 1px 1px 0 1px;
	border-style: solid;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-color: #ddd;
}

.main-container .items .item .item-content {
	padding: 10px;
	border-width: 0 1px;
	border-style: solid;
	border-color: #ddd;
	word-wrap: break-word;
	word-break: break-all;
}

.main-container .items .item .item-footer {
	padding: 5px 10px;
	border-width: 0 1px 1px 1px;
	border-style: solid;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-color: #ddd;
}

.main-container .items .item .media-place-holder {
	border: 1px #ccc solid;
	border-radius: 5px;
	box-shadow: 1px 1px 1px #ccc;
	cursor: pointer;
	width: 200px;
	height: 100px;
	line-height: 100px
}

.sidebar-container .panel-body a.label {
	line-height: 25px;
}

.editorFrom .input-group {
	margin: 10px 0 0 0;
}

.tag-editor {
	border: 1px solid #ccc !important;
}

.article {
	background-color: white;
}

.tagsWall {
	margin: 10px 15px;
	min-height: 420px;
}

.tagsWall .label {
	font-size: 16px;
	line-height: 35px;
}

.tagsWall a:hover {
	font-size: 18px;
}

.messagePage {
	min-height: 420px;
	margin: 40px 10px;
}

@media ( min-width : 768px) {
	.navbar-fixed-center {
		max-width: 740px;
	}
	.main-container {
		width: 518px;
		margin-right: 192px;
	}
	.sidebar-container {
		margin-left: -192px;
	}
	.sidebar-container .panel {
		width: 182px;
	}
	.footer-fixed-center {
		max-width: 740px;
	}
}

@media ( min-width : 992px) {
	.navbar-fixed-center {
		max-width: 960px;
	}
	.main-container {
		width: 690px;
		margin-right: 240px;
	}
	.sidebar-container {
		margin-left: -240px;
	}
	.sidebar-container .panel {
		width: 230px;
	}
	.footer-fixed-center {
		max-width: 960px;
	}
}

@media ( min-width : 1200px) {
	.navbar-fixed-center {
		max-width: 1160px;
	}
	.main-container {
		width: 830px;
		margin-right: 300px;
	}
	.sidebar-container {
		margin-left: -300px;
	}
	.sidebar-container .panel {
		width: 290px;
	}
	.footer-fixed-center {
		max-width: 1160px;
	}
}